<div id="loginOuterWrap">
    <div id="loginWrap">

        <div id="loginLeftSection">
            <div id="logoWrap"><img src="./assets/images/logo-parts-white.png" alt="Logo" width="100%"></div>
            <div class="top">Keep good contidioned vehicles</div> 
            <div class="middle">Monitor your vehicles statuses</div>
            <div class="middle">Improve driving safety</div>
            <div class="middle">Avoid repairs</div>
        </div>

        <div id="loginRightSection">
            <h2>Login form</h2>
            <div class="error" id="loginErrorWrap">Invalid credentials.</div>
            <div class="inputBoxWrap">
                <label for="username">Username</label>
                <input type="text" id="loginUsername">
            </div>
            <div class="inputBoxWrap">
                <label for="username">Password</label>
                <input type="password" id="loginPassword">
            </div>
            <button id="loginBtn">Login</button>
        </div>

    </div> <!-- loginWrap -->
</div> <!-- loginOuterWrap -->

<script src="assets/js/src/web/login.js"></script>   