@media only screen and (max-width: 768px) {
    /** Common **/
    .wrapper {
        width: 96%;
    }
    /** End Common **/
    
    /** Login **/
    #loginOuterWrap {
        display: block;
        height: auto;
        margin-top: 15px;
    }
    #loginOuterWrap #loginWrap {
        width: 96%;
        height: auto;
        display: block;
    }
    #loginOuterWrap #loginWrap #loginLeftSection {
        display: none;
    }
    #loginOuterWrap #loginWrap #loginRightSection {
        width: 100%;
        padding-bottom: 40px;
    }
    /** End Login **/

    /** Header **/
    .smallHeaderHeight {
        height: auto !important;
    }
    header #headerWrap #titleHeaderWrap {
        margin-top: 30px;
        margin-bottom: 15px;
    }
    /** End Header **/

    /** Homepage Content **/
    section#suppliesWrap {
        width: 100%;
        height: auto;
        margin: 15px 0 40px;
    }
    section#suppliesWrap .suppliesWrapDrawing {
        display: none;
    }
    section#suppliesWrap ul#suppliesList {
        display: block;
        overflow: hidden;
    }
    section#suppliesWrap ul#suppliesList li {
        width: 47%;
        margin: 0 6% 6% 0;
        float: left;
    }
    section#suppliesWrap ul#suppliesList li:nth-child(2n) {
        margin-right: 0;
    }
    section#suppliesWrap ul#suppliesList li:nth-last-child(-n+3) {
        margin-bottom: 0;
    }
    section#suppliesWrap ul#suppliesList li:last-child {
        display: none;
    }
    section#suppliesWrap ul#suppliesList li img {
        height: auto;
    }

    section#vehiclesAddWrap #arrowDrawing {
        display: none;
    }
    section#vehiclesAddWrap .button {
        display: block;
        margin-top: 20px;
    }
    /** End Homepage Content **/

    /** List & Detailed Content **/
    #mainContent {
        display: block;
    }
    #mainContent section#content {
        width: 100%;
        margin-right: 0;
    }
    #mainContent aside {
        /* width: 100%;
        padding-left: 0;
        border-left: none;
        */
        display: none;
    }
    #mainContent #paginationWrap {
        justify-content: flex-start;
        margin: 50px 0 45px;
    }
    /** End List Content **/

    /** Footer **/
    footer #footerOuterNavWrap #footerNavigation {
        display: none;
    }
    footer #footerOuterNavWrap #creatorInfoWrap {
        line-height: 18px;
    }
    /** End Footer **/
}