@font-face {
    font-family: droidSans;
    src: url('../fonts/DroidSans.ttf');
}
@font-face {
    font-family: goudyBookletter;
    src: url('../fonts/goudy_bookletter.otf');
}

html, body {
    height: 100%;
}

body {
    background-image: url('../images/bg-pattern.png');
    background-repeat: repeat;
    color: #8c8a8a;
    font-family: droidSans;
    font-size: 14px;
}
h1 {
    font-size: 48px;
    color: #ffffff;
    font-family: goudyBookletter;
    text-transform: capitalize;
}
h2 {
    font-size: 30px;
    color: #758b8d;
    font-family: goudyBookletter;
    text-transform: capitalize;
}
h3 {
    font-size: 36px;
    font-family: goudyBookletter;
    text-transform: capitalize;
    text-align: center;
}
h4 {
    font-family: goudyBookletter;
    font-size: 24px;
    text-transform: capitalize;
    color: #758b8d;
    margin-bottom: 10px;
}
h6 {
    font-family: goudyBookletter;
    font-size: 24px;
    text-transform: capitalize;
    color: white;
    margin-bottom: 10px;
}
.wrapper {
    width: 950px;
    margin: 0 auto;
}
.mobile {
    display: none;
}
.button {
    color: #7e9294;
    font-family: droidSans;
    font-size: 13px;
    padding: 7px 15px;
    background: #ffffff;
    border: 1px solid #ebeaea;
    border-bottom-color: #cfcece;
    cursor: pointer;
    text-transform: capitalize;
    
    background: -moz-linear-gradient(top, #ffffff 0%, #ededed 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%,#ededed 100%);
    background: linear-gradient(to bottom, #ffffff 0%,#ededed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
    
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
}
.button:hover {
    background: #f9f9f9;
    background: -moz-linear-gradient(top, #f9f9f9 0%, #e5e5e5 100%);
    background: -webkit-linear-gradient(top, #f9f9f9 0%,#e5e5e5 100%);
    background: linear-gradient(to bottom, #f9f9f9 0%,#e5e5e5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#e5e5e5',GradientType=0 );
}
.buttonWrap {
    display: block;
    overflow: hidden;
    margin-top: 12px;
}
.buttonWrap .button {
    float: right;
}
.subtitle {
    font-family: Georgia;
    font-style: italic;
    font-size: 18px;
    margin-top: 10px;
    color: #778292;
}
.bold {
    font-weight: bold;
}
.noTopMargin {
    margin-top: 0 !important;
}
.error {
    width: 100%;
    color: #FF0000;
    margin: 10px 0;
    background: #FFCCCC;
    border: 1px solid #FFBABA;
    padding: 10px;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.inputBoxWrap {
    width: 100%;
    display: block;
    margin-bottom: 15px;
}
.inputBoxWrap label {
    display: block;
    margin-bottom: 10px;
}
.inputBoxWrap input {
    width: 100%;
    display: block;
    padding: 10px 10px;
    border: 1px solid #cccccc;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/** Login **/
#loginOuterWrap {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}
#loginOuterWrap #loginWrap {
    width: 640px;
    height: 350px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border: 1px solid #cccccc;
    box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.3);
}
#loginOuterWrap #loginWrap #loginLeftSection {
    flex: 1;        
    background-image: url('../images/header-bg-pattern.png');
    background-repeat: repeat-x;
    color: white;
    text-align: center;
}
#loginOuterWrap #loginWrap #loginLeftSection #logoWrap {
    width: 120px;
    margin: 40px auto 25px;
}
#loginOuterWrap #loginWrap #loginLeftSection .top {
    font-weight: bold;
    font-size: 16px;
}
#loginOuterWrap #loginWrap #loginLeftSection .middle {
    margin-top: 13px;
    font-size: 13px;
}
#loginOuterWrap #loginWrap #loginRightSection {
    flex: 1.25;
    background: white;
    padding: 30px 25px 0;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
#loginOuterWrap #loginWrap #loginRightSection h2 {
    text-align: center;
    margin-bottom: 25px;
}
#loginOuterWrap #loginWrap #loginRightSection button {
    width: 100%;
    display: block;
    padding: 12px 0;
    margin-top: 25px;
    cursor: pointer;
    border: 1px solid #cccccc;
    color: white;
    background: #212a38;
    font-weight: bold;
}
/** End Login */

/** Header **/
header {
    width: 100%;
    height: 561px; /* 561px full */
    border-top: 5px solid #19212e;
    background-image: url('../images/header-bg-pattern.png');
    background-repeat: repeat-x;
    position: relative;
    border-bottom: 1px solid #ffffff;
    box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.4);
}
header #headerTopLine {
    width: 100%;
    height: 1px;
    background: #495260;
}

header #headerWrap {
    width: 950px;
    height: 560px; /* 561px full */
    background-image: url('../images/ww.png');
    position: relative;
}
.smallHeaderHeight {
    height: 275px !important;
}
header #headerWrap #upperHeadWrap {
    width: 100%;
    padding-top: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header #headerWrap #titleHeaderWrap {
    width: 100%;
    margin-top: 80px;
}
header #headerWrap #upperHeadWrap #logoWrap {
    width: 253px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
header #headerWrap #upperHeadWrap #logoWrap #logo img {
    width: 100%;
    height: 54px;
}
header #headerWrap #upperHeadWrap #logoWrap #slogan {
    margin-left: 20px;
    color: #77808d;
    font-style: italic;
}
header #headerWrap #upperHeadWrap #mobileNavButtonWrap {
    width: 40px;
    height: 40px;
    background: yellow;
    flex-basis: 40px;
    display: none;
}
header #headerWrap #upperHeadWrap #navWrap {
    margin-top: 2px;
    justify-content: flex-end;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background-image: url('../images/nav-bg-pattern.png');
    background-repeat: repeat-x;
    padding: 0 8px;
    border: 1px solid #111b27;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
header #headerWrap #upperHeadWrap #navWrap ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}
header #headerWrap #upperHeadWrap #navWrap ul li a {
    display: block;
    text-decoration: none;
    text-transform: capitalize;
    color: black;
    padding: 19px 15px;
    transition: background 0.2s;
}
header #headerWrap #upperHeadWrap #navWrap ul li a:hover {
    background: rgba(1, 1, 1, 0.1)
}

header #sliderWrap {
    width: 100%;
    margin-top: 130px;
    display: flex;
    align-items: center;
}
header #sliderWrap .arrow {
}
header #sliderWrap .arrow.left {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}
header #sliderWrap .arrow:hover {
    cursor: pointer;
}
header #sliderWrap .arrow img {
    width: 100%;
}
header #sliderWrap #sliderContent {
    flex: 1;
    height: 100%;
    padding: 0 50px;
    text-align: center;
}
header #sliderWrap #sliderContent h2 {
    color: white;
    font-size: 38px;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
}
header #sliderWrap #sliderContent h3 {
    font-size: 20px;
    color: #778292;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
    font-family: Georgia;
    margin-top: 12px;
    font-style: italic;
}

header #mainDrawing {
    width: 950px;
    height: 216px;
    background-image: url('../images/header-main-drawing.png');
    position: absolute;
    bottom: 0;
    z-index: 3;
}
header #mainDrawingBg {
    width: 100%;
    height: 108px;
    background-image: url('../images/header-main-drawing-bg-pattern.png');
    background-repeat: repeat-x;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
}
header #mainDrawingMoon {
    width: 163px;
    height: 156px;
    background-image: url('../images/header-main-drawing-moon.png');
    position: absolute;
    bottom: 17px;
    right: 100px;
    z-index: 1;
}
header #checkVehicleStatusBigButton {
    position: absolute;
    bottom: -22px;
    left: 350px;
    z-index: 4;
    background-image: url("../images/big-button-bg-pattern.png");
    background-repeat: repeat-x;
    color: white;
    font-family: goudyBookletter;
    font-size: 26px;
    border: 1px solid #317179;
    padding: 13px 22px;
    text-transform: capitalize;

    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}
header #checkVehicleStatusBigButton:hover {
    cursor: pointer;
}
/** End Header **/

section#companyInfo {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}
section#companyInfo article {
    width: 27%;
}
section#companyInfo article .infoWrap {
    line-height: 1.8;

}
section#companyInfo article .imageWrap {
    width: 66px;
    height: 66px;;
    margin: 0 10px 0 0;
    float: left;
    border: 1px solid #ebeaea;
    border-bottom-color: #cecdcd;
}
section#companyInfo article .imageWrap img {
    width: 100%;
}

section#suppliesWrap {
    width: 96%;
    height: 114px;
    margin: 80px auto 50px;
    padding: 15px;
    border: 1px solid #b7b7b7;
    position: relative;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    
    background-color: rgba(220, 220, 220, 1);
    background-image: repeating-linear-gradient(
        -55deg,
        rgba(205,205,205, 0.6),
        rgba(205,205,205, 0.63),
        rgba(220,220,220, 0.73) 1px,
        rgba(220,220,220, 0.73) 4px
    );

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
section#suppliesWrap .suppliesWrapDrawing {
    width: 13px;
    height: 101px;
    position: absolute;
    top: 5px;
    background-image: url('../images/supply-section-drawing.png');
}
section#suppliesWrap #suppliesWrapDrawingLeft {
    left: -13px;
}
section#suppliesWrap #suppliesWrapDrawingRight {
    right: -13px;
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}
section#suppliesWrap ul#suppliesList {
    display: flex;
    justify-content: space-between;
}
section#suppliesWrap ul#suppliesList li {
    width: 16%;
    border: 1px solid #b7b7b7;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
section#suppliesWrap ul#suppliesList li img {
    width: 100%;
    height: 80px;
    display: block;
}

section#vehiclesAddWrap {
    width: 100%;
    background: white;
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid #efefef;
    font-family: goudyBookletter;
    font-size: 20px;
    position: relative;
}
section#vehiclesAddWrap #arrowDrawing {
    width: 31px;
    height: 15px;
    position: absolute;
    left: 48%;
    bottom: 0;
    background-image: url('../images/white-arrow-image.png');
    margin: 0 auto -15px;
}
section#vehiclesAddWrap .button {
    margin-left: 20px;
}

section#breadcrumbsWrap {
    margin-top: 25px;
    color: #758b8d;
}
section#breadcrumbsWrap ul {
    display: flex;
}
section#breadcrumbsWrap ul li {
    margin-right: 5px;
    color: #758b8d;
}
section#breadcrumbsWrap ul li a {
    color: #b0afaf;
    text-decoration: none;
}

#mainContent {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}
#mainContent section#content {
    justify-content: flex-start;
    flex: 1;
    margin-right: 40px;
}
#mainContent section#content #filtersWrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 10px;
    margin-bottom: 25px;
}
#mainContent section#content #filtersWrap #filters {
    justify-content: flex-start;
}
#mainContent section#content #filtersWrap #filters select {
    min-width: 200px;
    margin-left: 10px;
    padding: 5px 10px;
}
#mainContent section#content #filtersWrap #addNewButtonWrap {
    justify-content: flex-end;
}
#mainContent section#content article {
    margin-bottom: 25px;
}
#mainContent section#content article .subTitle {
    font-style: italic;
    color: #a2a2a2;
    font-family: Georgia;
    margin-top: 20px;
}
#mainContent section#content article:last-child {
    margin-bottom: 0;
}
#mainContent section#content article .infoWrap {
    margin-top: 15px;
    overflow: hidden;;
}
#mainContent section#content article .infoWrap .imageWrap {
    width: 210px;
    margin-right: 25px;
    float: left;
    border: 1px solid #ebeaea;
}
#mainContent section#content article .infoWrap .imageWrap img {
    width: 100%;
}
#mainContent section#content article .infoWrap .textWrap {
    line-height: 22px;
}

#mainContent section#content article#actionButtons ul {
    display: flex;
}
#mainContent section#content article#actionButtons ul li {
    margin-right: 10px;
}
#mainContent section#content article#actionButtons {
    margin-top: 20px;
}
#mainContent section#content article#vehicleDetails {
    margin-top: 20px;
}
#mainContent section#content article#vehicleDetails ul li {
    margin-top: 10px;
}
#mainContent section#content article.extraInfoWrap {
    margin: 50px 0 100px;
}
#mainContent section#content article.extraInfoWrap h4 {
    margin: 30px 0;
    font-size: 32px;
}
#mainContent section#content article.extraInfoWrap ul li {
    width: 100%;
    background: white;
    border: 1px solid #d1d0d0;
    padding: 20px;
    margin-bottom: 25px;

    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
}
#mainContent section#content article.extraInfoWrap ul li .title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: goudyBookletter;
    margin-bottom: 10px;
}
#mainContent section#content article.extraInfoWrap ul li .title .mainInfo {
    color: #565656;
    font-size: 22px;
    margin-right: 8px;
}
#mainContent section#content article.extraInfoWrap ul li .title .secondaryInfo {
    font-size: 18px;
    color: #b6b5b5;
}
#mainContent section#content article.extraInfoWrap ul li .additionalinfo {
    margin-bottom: 3px;
}
#mainContent section#content article.extraInfoWrap ul li .tableAdditionalInfo table {
    width: 100%;
}
#mainContent section#content article.extraInfoWrap ul li p.description {
    margin-top: 10px;
    line-height: 20px;
}

#mainContent aside {
    justify-content: flex-end;
    flex-basis: 32%;
    padding-left: 5%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

    border-left: 5px solid red;
    /* border-image: url('../images/aside-border-pattern.png') 30 30 stretch;
    border-image-source: url('../images/aside-border-pattern.png');

    
    border-image: url("../images/aside-border-pattern.png") 27; */
}
#mainContent aside section {
    margin-bottom: 50px;
}
#mainContent aside section:last-child {
    margin-bottom: 0;
}
#mainContent aside ul {
    margin-top: 20px;
    margin-left: 13px;
    list-style-image: url('../images/footer-list-icons.png');
}
#mainContent aside ul li {
    margin-bottom: 15px;
}
#mainContent aside ul li a {
    color: #8c8a8a;
    text-decoration: none;
}
#mainContent aside ul li a:hover {
    color: #696969;
}
#mainContent #paginationWrap {
    display: flex;
    justify-content: flex-end;
    margin: 75px 0 45px;
    font-family: goudyBookletter;
}
#mainContent #paginationWrap #pageOfWrap {
    font-size: 18px;
    margin-right: 30px;
}
#mainContent #paginationWrap #paginationButtonsWrap {
    font-size: 32px;
    margin-top: -10px;
}
#mainContent #paginationWrap #paginationButtonsWrap ul {
    display: flex;
}
#mainContent #paginationWrap #paginationButtonsWrap ul li {
    margin-right: 12px;
}
#mainContent #paginationWrap #paginationButtonsWrap ul li a {
    text-decoration: none;
    color: #758b8d;
}
#mainContent #paginationWrap #paginationButtonsWrap ul li a:hover {
    color: #c2c2c2;
}

.tableAdditionalInfo table {
}
.tableAdditionalInfo table thead th {
    color: white;
    font-weight: bold;
    text-align: center;
    width: 33%;
}
.tableAdditionalInfo table thead th:nth-child(1) {
    background: #60cb71;
}
.tableAdditionalInfo table thead th:nth-child(2) {
    background: #5f5dac;
}
.tableAdditionalInfo table thead th:nth-child(3) {
    background: #1f81d3;
}
.tableAdditionalInfo table th,
.tableAdditionalInfo table td {
    padding: 10px 5px;
}
.tableAdditionalInfo table tbody tr:nth-child(2n) {
    background: #f7f7f7;
}

/** Pop ups **/
.fullPagePopUp {
    width: 100%;
    height: 0;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0, 0.2);
    overflow-x: hidden; /* Disable horizontal scroll */
    /* transition: 0.3s; */
}
.fullPagePopUp .popUpWrap {
    width: 550px;
    height: 375px;
    margin: 175px auto 0;
    padding: 50px 25px 25px;
    background: white;
    border: 1px solid #cccccc;
    box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.3);
    position: relative;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.fullPagePopUp .popUpWrap .closeButton {
    width: 45px;
    height: 35px;
    position: absolute;
    top: 15px;;
    right: 0;
}
.fullPagePopUp .popUpWrap .closeButton img {
    width: 100%;
    cursor: pointer;
}
.fullPagePopUp .popUpWrap input {
    padding: 12px 20px;
    font-size: 16px;
}
.fullPagePopUp .popUpWrap select {
    width: 100%;
    padding: 12px 20px;
    font-size: 16px;
}
.fullPagePopUp .popUpWrap .actionsWrap {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
.fullPagePopUp .popUpWrap .actionsWrap button {
    padding: 15px 35px;
    cursor: pointer;
    border: 1px solid #cccccc;
    font-weight: bold;
    font-size: 18px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.fullPagePopUp .popUpWrap .actionsWrap .cancel {
    justify-content: flex-start;
    background: white;
    color: #8c8a8a;
}
.fullPagePopUp .popUpWrap .actionsWrap .cancel:hover {
    background: #fbfbfb;
}
.fullPagePopUp .popUpWrap .actionsWrap .submit {
    justify-content: flex-end;
    border-color: #88bfbd;
    color: white;
    background: #95d0ce;
}
.fullPagePopUp .popUpWrap .actionsWrap .submit:hover {
    background: #8ec6c4;
}
/** End Pop ups **/

/** Check status pop up **/
#statusCheckPopUp h3 {
    margin-bottom: 40px;
}
#statusCheckPopUp label {
    font-size: 18px;
}
/** End Check status pop up **/

footer #footerOuterWrap {
    width: 100%;
    padding: 60px 0 70px 0;
    color: #aebdd1;    
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 1);

    background: -webkit-linear-gradient(top, rgb(32, 52, 71) 0%, rgb(22, 29, 40) 82%, rgb(21, 27, 37) 100%);
    background: -o-linear-gradient(top, rgb(32, 52, 71) 0%, rgb(22, 29, 40) 82%, rgb(21, 27, 37) 100%);
    background: -ms-linear-gradient(top, rgb(32, 52, 71) 0%, rgb(22, 29, 40) 82%, rgb(21, 27, 37) 100%);
    background: -moz-linear-gradient(top, rgb(32, 52, 71) 0%, rgb(22, 29, 40) 82%, rgb(21, 27, 37) 100%);
    background: linear-gradient(to bottom, rgb(32, 52, 71) 0%, rgb(22, 29, 40) 82%, rgb(21, 27, 37) 100%);    
}
footer #footerWrap {
    display: flex;
    justify-content: space-between;
}
footer #footerWrap article {
    width: 27%;
}
footer ul.footerList {
    margin-top: 25px;
    list-style-image: url('../images/footer-list-icons.png');
}
footer ul.footerList li {
    margin-bottom: 15px;
}
footer ul.footerList li a {
    color: #aebdd1;
    text-decoration: none;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
}
footer ul.footerList li a:hover {
    color: white;
}
footer article#footerInfoWrap #footerLogoInfoWrap {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
}
footer article#footerInfoWrap #footerLogoInfoWrap #footerLogoWrap {
    width: 90px;
}
footer article#footerInfoWrap #footerLogoInfoWrap #footerLogoWrap img {
    width: 100%;
}
footer article#footerInfoWrap #footerLogoInfoWrap #footerLogoTextWrap {
    margin-left: 10px;
}
footer article#footerInfoWrap #footerTextWrap {
    line-height: 1.8;
}
footer article#footerInfoWrap #footerTextWrap .imageWrap {
    width: 66px;
    height: 66px;
    float: left;
    border: 1px solid #10161e;
    background: white;
    margin: 0 10px 0 0;
}
footer article#footerInfoWrap #footerTextWrap .imageWrap img {
    width: 100%;
}

footer #footerOuterNavWrap {
    width: 100%;
    height: 60px;
    border-top: 1px solid #505c70;
    background: -webkit-linear-gradient(left, rgb(34, 43, 57) 0%, rgb(39, 48, 63) 80%);
    background: -o-linear-gradient(left, rgb(34, 43, 57) 0%, rgb(39, 48, 63) 80%);
    background: -ms-linear-gradient(left, rgb(34, 43, 57) 0%, rgb(39, 48, 63) 80%);
    background: -moz-linear-gradient(left, rgb(34, 43, 57) 0%, rgb(39, 48, 63) 80%);
    background: linear-gradient(to right, rgb(34, 43, 57) 0%, rgb(39, 48, 63) 80%);    
}
footer #footerOuterNavWrap #footerNavWrap {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer #footerOuterNavWrap #footerNavigation {
    justify-content: flex-start;
}
footer #footerOuterNavWrap #footerNavigation ul {
    display: flex;
}
footer #footerOuterNavWrap #footerNavigation ul li {
    margin-right: 20px;
}
footer #footerOuterNavWrap #footerNavigation ul li a {
    color: #aebdd1;
    text-decoration: none;
}
footer #footerOuterNavWrap #footerNavigation ul li a:hover {
    color: white;
}
footer #footerOuterNavWrap #creatorInfoWrap {
    color: #aebdd1;
    justify-content: flex-end;
}
footer #footerOuterNavWrap #creatorInfoWrap .person {
    color: white;
    font-style: italic;
}